
<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
	<title>Admin Login :: Herbicides</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Desk Login form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- //Meta tag Keywords -->

	<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">

	<!--/Style-CSS -->
	<link rel="stylesheet" href="{% static 'admins/admins_login/css/style.css' %}" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body>
      <script>
	{% for msg in messages %}
		alert('{{ msg }}');
	{% endfor %}
</script>
	<section class="w3l-forms-main-61">
		<div class="form-inner">
			<div class="wrapper">
				<div class="d-grid top-form">
					<div class="logo">
						<a class="brand-logo" href="index.html"><span><span class="fa fa-viadeo"
									aria-hidden="true"></span> Admin Login form</span></a>
						<!-- if logo is image enable this   
									<a class="brand-logo" href="#index.html">
										<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
									</a> -->
					</div>
				</div>
				<div class="form-bg-blur">
					<div class="form-61">
						<h4 class="form-head">Admin Login</h4>

						<form action="/admins_login/" method="POST">
							{% csrf_token %}
							<div class="">
								<p class="text-head">Username</p>
								<input type="text" name="username" class="input" required autocomplete="off"/>
							</div>
							<div class="">
								<p class="text-head">Password</p>
								<input type="password" id="password2" name="password" class="input" required autocomplete="off" />
							</div>
							<label class="remember">
								<input type="checkbox" class="show-password-checkbox" onclick="showPassword1()">
								<span class="checkmark"></span>Show Password
							</label>
							<button type="submit" class="signinbutton btn">Get started</button>

						</form>
						<a href="/"><button  class="signinbutton btn">Back</button></a>
					</div>
				</div>
				<script>
    function showPassword1() {
        var passwordField1 = document.getElementById("password2");

        if (passwordField1.type === "password") {
            passwordField1.type = "text";
        } else {
            passwordField1.type = "password";
        }
    }
</script>
				<!-- 
				<div class="go-to-home text-center">
					<p>Want to Create account? <a class="btn" href="signup.html"> Signup </a></p>
				</div> -->
			</div>
			<div class="copyright text-center">
				<div class="wrapper">
					<p class="copy-footer-29"></p>
				</div>
			</div>
		</div>
	</section>
</body>

</html>